<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test-artifacts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>80d99463-0787-4b5a-a1d7-59446638b5dd</ProjectGuid>
    <MSDeployServiceURL>test-artifacts.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Test-Artifacts</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Test-Artifacts</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/2fc251ac-64e4-4a46-a2a4-0a26443ce549/resourcegroups/artifacts-blog/providers/Microsoft.Web/sites/Test-Artifacts</ResourceId>
    <ContainerResourceId>/subscriptions/2fc251ac-64e4-4a46-a2a4-0a26443ce549/resourcegroups/artifacts-blog/providers/Microsoft.ContainerRegistry/registries/registry20170227102825</ContainerResourceId>
    <ContainerResourceName>registry20170227102825</ContainerResourceName>
    <ResourceGroup>artifacts-blog</ResourceGroup>
    <Subscription>Visual Studio Premium with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170227102825-on.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>